AssemblyLab1/.vs/AssemblyLab1/FileContentIndex/1aa7a64a-b148-44ba-8444-3998090e4d9c.vsidx
AssemblyLab1/.vs/AssemblyLab1/v17/Browse.VC.opendb
AssemblyLab1/.vs/AssemblyLab1/FileContentIndex/d8a5cd13-70a7-4933-b752-c56e2a4362c8.vsidx
